<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hey, Whats Up</title>
</head>
<body>
<ul>
    {{range $key, $value := .}}
    <li>{{$key}} -- {{$value}}</li>
    {{end}}

</ul>
</body>
</html>