<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hey, Whats Up</title>
</head>
<body>
<ul>
    {{$x := .Name}}
    {{$y := .Motto}}
    <li>{{$x}} -- {{$y}}</li>
</ul>
</body>
</html>